@font-face {
  font-family: "Chunk";
  src: url('../fonts/chunkfive-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "Cyntho";
  src: url('../fonts/cynthoslabpro-regular-webfont-webfont.ttf') format('truetype');
}

/* line 61, C:/Users/William/Desktop/CompassApp/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, C:/Users/William/Desktop/CompassApp/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 61, C:/Users/William/Desktop/CompassApp/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, C:/Users/William/Desktop/CompassApp/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 26, ../sass/style.sass */
body {
  *zoom: 1;
  max-width: 19em;
  _width: 19em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, C:/Users/William/Desktop/CompassApp/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}

/* line 29, ../sass/style.sass */
#wrapper {
  overflow: hidden;
  width: 47.36842%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
  font-family: "Cyntho", arial;
}

/* line 34, ../sass/style.sass */
h1 {
  font-family: "Chunk", arial;
}

/* line 39, ../sass/style.sass */
nav button {
  height: 3.75em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #53ad6e;
}

/* line 44, ../sass/style.sass */
input {
  width: 47.36842%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}

/* line 48, ../sass/style.sass */
#loginButtons button {
  width: 21.05263%;
  float: left;
  margin-right: 5.26316%;
  display: inline;
}

/* line 51, ../sass/style.sass */
header {
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px;
  -o-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  background-color: #53ad6e;
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0em;
}

/* line 56, ../sass/style.sass */
p {
  background-color: rgba(173, 155, 83, 0.4);
  font-family: "Cyntho";
}
