@import "compass"
@import "compass/layout"
@import "susy"

+font-face("Chunk", font-files("chunkfive-webfont.ttf"))
+font-face("Cyntho", font-files("cynthoslabpro-regular-webfont-webfont.ttf"))

$base-font-size: 18px
$base-line-height: 30px

$total-columns: 12
$column-width: 4em
$gutter-width: 1em
$grid-padding: $gutter-width

+establish-baseline

$color: rgb(83, 173, 110)

html
  background: #fff
  
body
  width: 960px
  +container
  +susy-grid-background
  
h1
  font-family: "Chunk", arial
    
#wrapper
  overflow: hidden
  
nav  
  
  button
    height: 60px
  input :submit
    height: 60px
    
p
  background-color: rgba(173, 155, 83, .4)
  font-family: "Cyntho"
 
