@import "compass"
@import "compass/typography/vertical_rhythm"
@import "susy"

+font-face("Chunk", font-files("chunkfive-webfont.ttf"))
+font-face("Cyntho", font-files("cynthoslabpro-regular-webfont-webfont.ttf"))

//Vertical rhythm setup
$base-font-size: 16px
$base-line-height: 24px
+establish-baseline


//Grid setup
$media-layout: 480px 4
$media-layout: 768px 8
$media-layout: 980px 16

+establish-baseline

$color: rgb(83, 173, 110)
  
body
    +container
    //+susy-grid-background
    
#wrapper
    overflow: hidden
    font-family: "Cyntho", arial
  
h1
    font-family: "Chunk", arial

nav  
  
    button
        height: 3.75em
        +border-radius(4px)
        background-color: $color
        
input
    +span-columns(4)

#loginFields
    display: block
    
#loginButtons
    display: block
    button
        display: inline-block
        +span-columns(2)
        
header
    +border-radius(4px 4px 0px 0px)
    background-color: $color
    
p
    background-color: rgba(173, 155, 83, .4)
    font-family: "Cyntho"
 
