@import "compass"
@import "compass/layout"
@import "susy"

+font-face("Chunk", font-files("chunkfive-webfont.ttf"))
+font-face("Cyntho", font-files("cynthoslabpro-regular-webfont-webfont.ttf"))

$base-font-size: 18px
$base-line-height: 30px

$total-columns: 12
$column-width: 4em
$gutter-width: 1em
$grid-padding: $gutter-width

+establish-baseline

$color: rgb(83, 173, 110)

html
  background: #fff
  
body
  width: 1000px
  +container
  //+susy-grid-background
  
header
  +background(linear-gradient(top, scale-saturation($color, -55%), #fff))
  position: fixed
  height: 160px
  width: 1000px
  z-index: 10
  
  h1
    font-family: "Chunk", arial
    text-transform: uppercase
    +adjust-font-size-to(120px)
    letter-spacing: 30px
    +opacity(.2)
    padding-left: .125em
    
#wrapper
  overflow: hidden
  
nav  
  
  ul
    list-style-type: none
    +pre(1)
    +span-columns(12,12)
    position: fixed
    top: 129px
    left: 0px
    
  li 	
    text-align: center
    +span-columns(2,12)
    
    a
      text-decoration: none
      padding-left: .5em
      padding-right: .5em
      font-family: "Chunk"
      color: #000
      +background(radial-gradient(center, $color, lighten($color, 35%)))
      +single-box-shadow
      text-align: center
      +border-radius(5px)
      display: inline-block

article
  min-height: 650px
  +prefix(1)
  +span-columns(10, 12)
  
p
  background-color: rgba(173, 155, 83, .4)
  +single-box-shadow
  +rhythm(1, 1, 1, 1)
  +pad(.5, .5)
  font-family: "Cyntho"
 
