@font-face {
  font-family: "Chunk";
  src: url('/stylesheets/fonts/chunkfive-webfont.ttf') format('truetype');
}

@font-face {
  font-family: "Cyntho";
  src: url('/stylesheets/fonts/cynthoslabpro-regular-webfont-webfont.ttf') format('truetype');
}

/* line 61, C:/Users/William/Desktop/CompassApp/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, C:/Users/William/Desktop/CompassApp/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 61, C:/Users/William/Desktop/CompassApp/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, C:/Users/William/Desktop/CompassApp/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 31, ../sass/style.sass */
body {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, C:/Users/William/Desktop/CompassApp/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}

/* line 37, ../sass/style.sass */
#wrapper {
  overflow: hidden;
}

/* line 40, ../sass/style.sass */
h1 {
  font-family: "Chunk", arial;
}

/* line 45, ../sass/style.sass */
nav button {
  height: 3.75em;
}

/* line 49, ../sass/style.sass */
p {
  background-color: rgba(173, 155, 83, 0.4);
  font-family: "Cyntho";
}
