<form action="http://murmuring-spire-3618.herokuapp.com/" name="newPost" id="postForm" method="post" >
<input type="hidden" id="postID" value="" />
Title:<input type="text" name="title" id="titleField" required /><br />
Post:<textarea name="body" rows="8" cols="40" id="postField" ></textarea><br />
<input type="submit" id="postButton" value="Post"/>

</form>

<script>

// jQuery UI modal setup

$("#postForm").dialog({ 
            autoOpen: false,
            modal: true,
            resizable: true
});

$("#addNewPost").on('click', function(){
    $("#postForm").dialog('open');
});

</script>