<div id="postForm">
<header>
</header>
<form action="http://murmuring-spire-3618.herokuapp.com/" name="newPost" method="post" >
<input type="hidden" id="postID" value="" />
<label for="title">Title:</label><input type="text" name="title" id="titleField" required /><br />
<label for="body">Post:</label><textarea name="body" rows="8" id="postField" ></textarea><br />
<input type="submit" id="postButton" value="Post" class="button"/>

</form>
</div>
<script>

// jQuery UI modal setup

$("#postForm").dialog({ 
            autoOpen: false,
            modal: true,
            resizable: true
});

$("#addNewPost").on('click', function(){
    $("#postForm").dialog('open').find('header').html('<h2>New Post</h2>');
});

</script>