<form action="http://murmuring-spire-3618.herokuapp.com/" name="newPost" id="postForm" method="post" >
User:<input type="text" name="username" id="userField" required />  This won't be on the final page. <br />
Title:<input type="text" name="title" id="titleField" required /><br />
Post:<textarea name="body" rows="8" cols="40" id="postField" ></textarea><br />
<input type="hidden" name="id"></input>
<input type="submit" value="Post"/>
</form>

<script>

// jQuery UI modal setup

$("#postForm").dialog({ 
            autoOpen: false,
            modal: true,
            resizable: true
});

$("#addNewPost").on('click', function(){
    $("#postForm").dialog('open');
});

</script>