<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Whorton's Very Basic Blogging App</title>
</head>
<body>

<div id="wrapper" style="overflow:hidden">
<div id="logo"></div>
<div id="titleArea"><h1>Blog Title</h1></div>
<nav>
<div id="login">
<% include login.ejs %>
<% if (locals.user) { %>
<button id="addNewPost" class="button">Add New Post</button>
<% } %>
</div>
</nav>
    <%- body %>

<!-- New Post modal; only shown when Add New Post is clicked -->
<div id="form">
    <% include form.ejs %>
</div>
</div>
</body>
</html>