<!-- login.ejs - EJS template for the user login fields and buttons used on layout.ejs -->

<!-- Show "Logout" button if user object is stored -->
<% if (locals.user) { %>
<button id="logout">Logout</button>
    
<script>
// Logout button listener

$("#logout").click(function(e){
    e.preventDefault();
    window.location.replace("http://murmuring-spire-3618.herokuapp.com/logout");
});
</script>    
<% } %>


<!-- Only show the login fields and buttons if there isn't a user object currently stored -->
<% if (!locals.user) { %> 
<div id="loginBlock">
    <div id="loginFields">
    <label for="username">Username:</label><input type="text" name="username" id="username" required />
    <label for="password">Password:</label><input type="text" name="password" id="password" required />
    </div>
    <div id="loginButtons">
    <button id="loginUser">Login</button>
    <button id="createNewUser">Register</button>
    </div>
</div>
    
<script>

// Create button listener
$("#createNewUser").on('click', function(e){
    e.preventDefault();
    $.post("http://murmuring-spire-3618.herokuapp.com/newUser", {
        data: {
            username: $("#username").val(),
            password: $("#password").val()
            },
        success: function(){
            window.location.href = window.location.href;
            },
        error: function(e, type, msg){
            alert("Username is already taken.");
            console.log("Create User error: " e );
            window.location.href = window.location.href;
            }
    });
});

// Create button listener
$("#loginUser").on('click', function(e){
    e.preventDefault();
    $.post("http://murmuring-spire-3618.herokuapp.com/login", {
        data: {
            username: $("#username").val(),
            password: $("#password").val()
            },
        success: function(){
            window.location.href = window.location.href;
            },
        error: function(e, type, msg){
            alert("Invalid name or password.");
            console.log("Login User error: " e );
            window.location.href = window.location.href;
            }
    });
});

</script>
<% } %>

