<!-- login.ejs - EJS template for the user login fields and buttons used on layout.ejs -->

<!-- Show "Logout" button if user object is stored -->
<% if (locals.user) { %>
<button id="logout" class="button">Logout</button>
    
<script>
// Logout button listener

$("#logout").click(function(e){
    e.preventDefault();
    window.location.replace("http://murmuring-spire-3618.herokuapp.com/logout");
});
</script>    
<% } %>


<!-- Only show the login fields and buttons if there isn't a user object currently stored -->
<% if (!locals.user) { %> 

    <form action="http://murmuring-spire-3618.herokuapp.com/login" name="login" id="loginForm" method="post" >
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="text" name="password" id="password" required />
    <input type="submit" value="Login" class="button"/>
    <button id="createNewUser" class="button">Register</button>
    </form>
    
<script>

// Create button listener
$("#createNewUser").on('click', function(e){
    e.preventDefault();
    $.post("http://murmuring-spire-3618.herokuapp.com/newUser", {
        data: {
            username: $("#username").val(),
            password: $("#password").val()
            },
        success: function(){
            window.location.href = window.location.href;
            },
        error: function(e, type, msg){
            alert("Username is already taken.");
            console.log("Create User error: " e );
            window.location.href = window.location.href;
            }
    });
});

</script>
<% } %>

