<form action="http://murmuring-spire-3618.herokuapp.com/newUser" id="newUser name="newUser" method="post" >
Username:<input type="text" name="username" required />
Password:<input type="password" name="password" required />
<input type="submit" />
</form>
